<h2>Login</h2>
<!--  -->
<%- include("partials/header") %>
<!--  -->
<form action="#">
  <!--  -->
  <label for="username">Username</label>
  <input type="text" id="loginUsername" required />
  <!--  -->
  <label for="password">Password</label>
  <input type="text" id="loginPassword" required />
</form>
<!--  -->
<button id="loginButton" onclick="onLoginButton()">Signup</button>
<!--  -->

<script>
  //
  async function onLoginButton() {
    //
    const username = document.getElementById("loginUsername").value;
    const password = document.getElementById("loginPassword").value;
    //
    const data = { username: username, password: password };
    //
    //
    const response = await fetch(`${window.location.origin}/auth/login`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },

      body: JSON.stringify(data),
    });
    //
    const result = await response.json();
    //
    console.log(result, "result");
    //
    if (result.message == "password matched") {
      // console.log(result.message, "result.message");
      window.location.href = `${window.location.origin}/user/updatePage`;
    }
  }
</script>
