<h3>update age here</h3>
<!--  -->
<!--  -->
<!-- <%- include("partials/afterLoginHeader") %> -->
<!--  -->
<form action="#">
  <!--  -->
  <label for="username">Username</label>
  <input type="text" id="usernameId" required />
  <!--  -->
  <label for="age">update age value</label>
  <input type="number" id="ageId" required />
</form>
<!--  -->
<button id="loginButton" onclick="onUpdateButton()">Update</button>
<!--  -->
<script>
  //
  async function onUpdateButton() {
    //
    const username = document.getElementById("usernameId").value;
    const age = document.getElementById("ageId").value;
    //
    const data = { username: username, age: age };
    //
    //
    const response = await fetch(`${window.location.origin}/user/updateAge`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },

      body: JSON.stringify(data),
    });

    //
    const result = await response.json();
    //
    console.log(result, "result");
    //
    if (result.message == "update success") {
      //   console.log(result.message, "result.message");
      //

      console.log(result.user._id, "result.user._id");
      //
      //
      //for redirection
      window.location.href = `${window.location.origin}/user/userDetails/${result.user._id}`;
    }
  }
</script>
