<h3>user details</h3>
<!-- <%- include("partials/afterLoginHeader") %> -->
<!--  -->
<!-- <li><a href="updatePage">update</a></li> -->
<!--  -->
<p>username:<%= user.username %></p>
<p>age:<%= user.age %></p>
